@model WebApplication1.Models.RegistrationInfo

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<div class="row">
    <div class="col-md-3 col-md-offset-5">
        <div style="border:5px black ridge; padding:10px;">
            @using (Html.BeginForm("Login", "Home", FormMethod.Post))
            {
                <table height="200">
                    <tr>
                        <th>LOGIN</th>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.Reg_Email)</td>
                        <td>
                            @Html.TextBoxFor(model => model.Reg_Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Reg_Email, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.Reg_Password)</td>
                        <td>
                            @Html.EditorFor(model => model.Reg_Password, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Reg_Password, "", new { @class = "text-danger" })
                            @ViewBag.ErrorMessage
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="submit" value="Login" class="btn btn-info" />
                            <a href="/Home/Reset" class="btn btn-danger">Reset</a>
                        </td>
                    </tr>
                </table>
            }
        </div>
    </div>
</div>